* {
    box-sizing: border-box;
}

body {
    background-image: url("./images/background.jpg") ;
    background-repeat: no-repeat;
    background-size: cover;
}

#search-button {
    background-color:lightskyblue;
    margin: 1rem;
}

#search-button:hover {
    background-color: transparent;
}

.cities {
    list-style: none;
    padding: 0.2em;
}

.citiesButton {

    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    background-color:darkgrey;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    width:10em;

}

.citiesButton:hover {

    color:#000000;
    background-color:#FFFFFF;
}

#today {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(81, 81, 81, 0.5);
    border: 1px solid black;
    color: #FFFFFF;
    font-size: larger;
}

#icon {
    display: flex;
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    height: 6rem;
    width: 6rem;
    justify-content: center;
    border-radius: 50%;
}

.forecast {
    display: flex;
    border: 1px solid black;
    background-color: rgba(81, 81, 81, 0.5);
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.forecast1,
.forecast2,
.forecast3,
.forecast4,
.forecast5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    font-size: larger;
    padding: 1rem;
}

.forecast img {
    display: flex;
    margin-left: 1rem;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
    height: 6rem;
    width: 6rem;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 1rem;
}




