* {
    box-sizing: border-box;
}

#search-button {
    background-color:lightskyblue;
    margin: 1rem;
}

#search-button:hover {
    background-color: transparent;
}

.cities {
    list-style: none;
    padding: 0.2em;
}

.citiesButton {

    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    background-color:darkgrey;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    width:10em;

}

.citiesButton:hover {

    color:#000000;
    background-color:#FFFFFF;
}



